<!-- Intro Modal Overlay -->
<div class="intro-modal-overlay" 
     *ngIf="isOpen" 
     (click)="onOverlayClick($event)"></div>

<!-- Intro Modal -->
<div class="intro-modal" 
     *ngIf="isOpen">
  <mat-card class="intro-card">
    <mat-card-header>
      <mat-card-title>{{ currentIntro.title }}</mat-card-title>
      <button mat-icon-button 
              class="close-button"
              (click)="onCloseModal()"
              matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    
    <mat-card-content class="intro-content">
      <div class="intro-text">
        <p *ngFor="let paragraph of currentIntro.content.split('\n\n'); let i = index" 
           [class.first-paragraph]="i === 0"
           [innerHTML]="paragraph"></p>
      </div>
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-raised-button 
              color="primary" 
              (click)="onCloseModal()">
        Explore the Painting
      </button>
    </mat-card-actions>
  </mat-card>
</div>