<div class="intro-container">
  <video #backgroundVideo 
       class="background-video"
       autoplay 
       muted 
       playsinline
       (canplay)="onVideoCanPlay()"
       (error)="onVideoError($event)"
       (ended)="onVideoEnded()">
  </video>
  
  <h1 class="intro-title">William Hogarth's Humors of an Election
    <div class="progress-bar-container" *ngIf="!isVideoLoading && !showContent">
      <mat-progress-bar mode="determinate" [value]="videoProgress" class="video-progress-bar"></mat-progress-bar>
    </div>
    <div class="title-controls" *ngIf="!showPlayButton">
      <button mat-icon-button 
              (click)="toggleVideoPause()" 
              class="pause-button"
              *ngIf="!showContent"
              [matTooltip]="isVideoPaused ? 'Resume Video' : 'Pause Video'">
        <mat-icon>{{ isVideoPaused ? 'play_arrow' : 'pause' }}</mat-icon>
      </button>
      <button mat-stroked-button (click)="skipVideo()" *ngIf="!showContent" class="skip-button" matTooltip="Skip Video">
        <mat-icon>skip_next</mat-icon>
        Skip
      </button>
      <button mat-stroked-button (click)="playAgain()" *ngIf="showContent" class="play-again-button" matTooltip="Play Video Again">
        <mat-icon>replay</mat-icon>
        Play Again
      </button>
    </div>
  </h1>
  
  <!-- Play button overlay -->
  <div class="play-button-overlay" *ngIf="showPlayButton">
    <button mat-fab color="primary" (click)="onPlayButtonClick()" class="play-button">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <p>Click to start the experience</p>
  </div>
  
  <div class="intro-content" [class.show]="showContent">
    <button mat-raised-button color="primary" (click)="startViewer()" *ngIf="showStartButton">
      Explore
    </button>
  </div>
</div>