
#image-ruler{
    background-color: rgba(255,255,255,0.5);
    width: 50px;
    height: 50px;
    // border: 1px solid;
  }
#icon_drawer{
  position:absolute;
  left:1%;
  top:1%;
  z-index: 5;
  color: white;
  background-color: grey;
  padding: 1%;
}
#control-panel{
  // border: 2px solid;
  // border-color: grey;
  
  // background-color: pink;
  display: inline;
  position: fixed;
  top:1%;
  right:0;
  padding: 2%;
  
  width:16vw;
  height:88%; 
  float: right;
  overflow: scroll;

}
p{
  padding: 1%;
}
div {
  
}
mat-slide-toggle {
  margin: 1%;
}
section{
  // display: inline;
}
