<section style="width:80vw;height:95vh; background-color:  #d3d4d7;vertical-align: middle; text-align: center;">

  <div id="seadragon-viewer" style="width:100%; height:100%;"></div>
  

  <script src="https://openseadragon.github.io/openseadragon/openseadragon.min.js"></script>
  <!-- <img width="20" id="hotspot" src="assets/icons/pin.png"/>  -->
  <!-- <img id="image-ruler" src="assets/JS_FEB_2025_06_overlay.jpg"/>  -->
    <!-- <iframe width="56" height="31" src="https://www.youtube.com/embed/wwJlniO7URc?si=ULCOJrsCqK8hB7ko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->

  
  <!-- <div id="example-overlay">tests</div> -->
</section>
<div id="control-panel"  >


  <mat-slide-toggle (change)="toggleAnimation($event)" >Show Animations</mat-slide-toggle>
  <p [innerHTML]="panelText"></p>
  <button  class="mat-button" mat-raised-button *ngIf="panelText.length>0 && panelTextIndex>1" (click)="goBack()">Go Back</button>
  <button class="mat-button" mat-raised-button *ngIf="panelText.length>0 && panelTextIndex<numPanels" (click)="readMore()">Read more</button>
</div>